.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .home-color {
  background: linear-gradient(#22577E, transparent);

} */


/* --first-color: #22577E;
--first-color-alt: #5ca1dd;
--first-color-lighter: hsl(207, 92%, 85%);

--title-color: hsl(207, 8%, 15%);

--text-color: hsl(207, 8%, 45%);
--text-color-light: hsl(207, 8%, 65%);

--input-color: hsl(207, 0%, 87%);
--body-color: hsl(207, 0%, 95%);
--body-white: hsl(207, 60%, 100%);
--body-white-nt: hsl(207, 60%, 100%);
--body-third: hsl(0deg 0% 94% / 77%);

--scroll-bar-color: hsl(207, 12%, 90%);
--scroll-thumb-color: hsl(207, 12%, 80%); */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}